services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: eoffice-app
    restart: always
    env_file: .env
    ports:
      - "3000:3000"

  onlyoffice:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice
    restart: always
    environment:
      - JWT_ENABLED=false
    volumes:
      - onlyoffice_data:/var/www/onlyoffice/Data
      - onlyoffice_log:/var/log/onlyoffice
      - onlyoffice_cache:/var/lib/onlyoffice/documentserver/App_Data/cache

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
      - onlyoffice

volumes:
  onlyoffice_data:
  onlyoffice_log:
  onlyoffice_cache:
  caddy_data:
  caddy_config:
